.side-nav{
    width: 80px; 
    height: 982px; 
    background: white; 
    border-right: 1px #EAECF0 solid; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
}
.content{
    width: 80px; 
    align-self: stretch; 
    border-right: 1px #EAECF0 solid; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-start; 
    display: inline-flex;
}
.navigation{
    align-self: stretch; 
    height: 416px; 
    padding-top: 32px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 24px; 
    display: flex;
}
.header{
    align-self: stretch; 
    height: 32px; 
    padding-left: 24px; 
    padding-right: 20px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex;
}
.logo{
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
}
.card-header{
    width: 1432px; 
    height: 104px; 
    background: white; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
}
.title{
    align-self: stretch; 
    padding: 24px; 
    justify-content: space-between; 
    align-items: flex-start; 
    display: inline-flex;
}
.text-support{
    width: 697px; 
    align-self: stretch; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 8px; 
    display: inline-flex;
}
.text-badge{
    align-self: stretch; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 8px; 
    display: inline-flex;
}
.text-head{
    color: #101828; 
    font-size: 30px; 
    font-family: Inter; 
    font-weight: 600; 
    line-height: 28px; 
    word-wrap: break-word;
}
.badge{
    padding-left: 12px; 
    padding-right: 12px; 
    padding-top: 4px; 
    padding-bottom: 4px; 
    background: #F4F3FF; 
    border-radius: 16px; 
    border: 1px #D9D6FE solid; 
    justify-content: flex-start; 
    align-items: center; 
    display: flex;
}
.text-badge{
    text-align: center; 
    color: #5925DC; 
    font-size: 14px; 
    font-family: Inter; 
    font-weight: 500; 
    line-height: 20px; 
    word-wrap: break-word;
}
.support-text{
    align-self: stretch; 
    color: #475467; 
    font-size: 14px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 20px; 
    word-wrap: break-word;
}
.actions{
    align-items: flex-start; 
    gap: 16px; 
    display: flex;
    justify-content: flex-end; /* يدفع الزر إلى اليمين */
}
.create-button{
    width: 195px; 
    height: 40px; 
    padding-left: 18px; 
    padding-right: 18px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    background: #592BEC; 
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); 
    border-radius: 8px; 
    overflow: hidden; 
    border: 1px #592BEC solid; 
    justify-content: center; 
    align-items: center; 
    gap: 6px; 
    display: inline-flex;
    position: absolute;
    right: 30px;
    
}
.butt-text{
    color: white; 
    font-size: 16px; 
    font-family: Inter; 
    font-weight: 600; 
    line-height: 24px; 
    word-wrap: break-word;
}
.content-pag{
    width: 1570px;
    height: 1080px; 
    padding: 24px; 
    background: white; 
    /* box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); 
    border: 1px solid;  */
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 24px; 
    display: inline-flex;
    
    position: absolute;
    top: 120px;
    left: 80px;
}
.title-content{
    width: 1383px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 24px; 
    display: inline-flex;

}
.dropdown{
    width: 320px;
}
.btn{
    width: 100%; 
    height: 44px; 
    background: white; 
    color: #101828; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 500; 
    line-height: 24px; 
    border: 1px solid #D0D5DD; 
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); 
    border-radius: 8px;
    text-align: left; 
    padding-left: 14px;
}
.input-group{
    width: 320px; 
    height: 44px; 
    padding-left: 14px; 
    padding-right: 14px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    background: white; 
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); 
    border-radius: 8px; 
    overflow: hidden; 
    border: 1px #D0D5DD solid; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 8px; 
    display: inline-flex;
}
.input-content{
    flex: 1 1 0; 
    height: 24px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 8px; 
    display: flex;
}
.text-search{
    color: #667085; 
    font-size: 16px; 
    font-family: Inter;
    font-weight: 400; 
    line-height: 24px;
    border: none;
}
.department{
    width: 1384px; 
    height: 340px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 16px; 
    display: inline-flex;
}
.comput-it {
    width: 438px; 
    color: black; 
    font-size: 18px; 
    font-family: Inter; 
    font-weight: 500; 
    line-height: 28px; 
    word-wrap: break-word
}
.circle{
    width: 40px; 
    height: 40px; 
    background: linear-gradient(90deg, #E9DEFA 0%, #FFF6EB 100%); 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.circle-text{
    color: #475467; 
    font-size: 16px; 
    font-family: Inter; 
    font-weight: 600;
}
.track{
    color: #344054; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 600; 
}
.card{
    width: 100%; 
    height: 88px; 
    background: white; 
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); 
    border-radius: 12px; 
    border: 1px solid #D0D5DD;
}