<p>test-without-standalone works!</p>
<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>My Material Component</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>This is a new component using Angular Material.</p>
        <mat-form-field appearance="fill">
            <mat-label>Enter your name</mat-label>
            <input matInput placeholder="Name">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
</mat-card> -->